$gray-100: #e5e5e5;
$white: #fff;
$dark: #333333;
$roxo-500: #5b384f;
$rosa-50: #fbdfe1;
$rosa-500: #d24d65;
$rosa-700: #9a1139;
$rosa-claro-400: #eea1aa;
$rosa-claro-800: #7e2d3d;
$rosa-claro-900: 5C0B22;
$lilas-300: #b4adcc;
$lilas-500: #8a81af;
$lilas-600: #706794;
$lilas-700: #564f79;
$lilas-800: #3d3760;
$lilas-900: #262147;
$amarelo-300: #fcc979;
$amarelo-400: #f6ba51;
$amarelo-600: #c58800;
$amarelo-700: #9c6600;
$amarelo-900: #542700;
